<style>
  li {
    list-style: none;
  }
</style>

<div class="site-footer">
  <div class="container">
    <hr class="dashed">
    <div class="row">
      <div class="col-md-4">
        <h3>AYUDA </h3>
        <p>
          <a href="/help">TÉRMINOS Y CONDICIONES
          </a>
        </p>

      </div>

    </div>

    <hr class="dashed">
    <div class="copyright clearfix">
      <p>©
        <a href="#" target="_blank">El Cuchitril Ecommerce</a> Derechos reservados &nbsp;&nbsp;
    </div>
  </div>
</div>

<!--div class="navbar navbar-fixed-bottom hidden-xs">
  <!--div class="col-md-12">
    <span class="pull-right" style="padding-top: 20px;">v<%= sails.config.project.version %> <%= sails.config.project.author %> © <%= sails.config.project.year %></span>
  </div-->
<!--/div-->